


<div class="container">
  <div class="row">
    <h3>Developers</h3>
     <h6><%= link_to(" + Create New Developer", new_developer_path, :method => :get, :class => 'button-xs') %></h6>
    <div class="column">
      <table class="table">
        <tbody>
          <% @developers.each do |developer| %>
            <tr>
              <td>
  					<%= developer.name.to_s + ' ' + developer.last_name.to_s %> 
				</td>

				<td>
				  <%= link_to("Edit", edit_developer_path(developer), :method => :get, :class => 'button-xs') %>
				  <%= link_to("Delete", developer_path(developer), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') %>
				</td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

