<div class="container">
<div id="ajax-loader"></div>	
  <div class="row">
    <h3>Skills</h3>
    <div class="row">
      <div class="btn-group" data-toggle="buttons">
        <%= render 'skill' %>
      </div>  
      <%= render 'search' %>
    </div>
  </div>
</div>