<table class="table table-striped">
<thead>
<tr>
<th>Name</th>

</tr>
</thead>
<tbody>
<% @person_skill.each do |developer| %>

	<tr>
	<td> <%= "#{developer.first.name}  #{developer.first.last_name}"%>
		<table class="table table-striped">
		
			<% developer.second.each do |skills| %>
			<tr>
		   <td>
			<div class="to_left"><%= "#{skills.skill.name}"  %></div>
			<%= skill_color("#{skills.rating}")%>
		   </td>
		   </tr>	
			<% end%>
		
		</table>
	</td>
	</tr>	
<% end%>
</tbody>
</table>	