<div class="search-developer-skills">	
<% @person_skill.each do |developer| %>
<div class="developer-container">
  <h3><%= "#{developer.first.name}  #{developer.first.last_name}"%></h3>
  <div class="skills-container">
    <ul>
      <% developer.second.each do |skills| %>
        <li>
          <%= skill_color("#{skills.rating}")%>
          <div class="to_left"><%= "#{skills.skill.name}"  %></div>
        </li>
      <% end%>
    </ul>
  </div>
</div>
<% end%>
</div>