// Place all the styles related to the Project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dev-placed{
	background-color: #5cb85c;
}
.dev-unbillabel{
	background-color: #d9534f; 
}
.avalible-not-confirmed{
	background-color: #f0ad4e;
}
.placed-not-billable{
	background-color: #eeeeee;
}