// Place all the styles related to the SearchSkills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.person_skill{
  width: 100%;
  height:100%;
  margin-top: 50px;
}
.none{
	display:none;
}
.search-developer-skills{
	width: 100%;
	height:100%;
	margin: 50px 30px 20px 30px; 
	.developer-container{
		width: 254px;
		height: 200px;
		float:left;
		background-color: #FFF;
		border: 1px solid #CCC;
		margin: 10px 20px;
		padding: 10px;
		h3{
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 18px;
		}
		.skills-container{
			height: 138px;
			overflow-y:auto; 
			ul{
				list-style: none;
				padding-left: 12px;
				li{
					float: left;
					width: 100%
				}
			}
		}
	}
}
.rating-skill{
    width: 10px;
	height: 10px;
	float: left;
	margin-top: 5px;
}

.green-skill{
	@extend .rating-skill;
	background-color: #5cb85c;
}

.yellow-skill{
	@extend .rating-skill;
	background-color: #f0ad4e;
}

.red-skill{
	@extend .rating-skill;
	background-color: #d9534f;
}

.to_left{
	width: 200px;
	float: left;
	padding-left: 5px;
}